.trend {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 5px;
}
.trend.up {
  background: url("img/up.png");
}
.trend.down {
  background: url("img/down.png");
}

a.hiperlinkAddIn{
  
}


.dataBarContainer {
  position: relative;
  width:100%;
}
.dataBarContainer svg {
  float:left;
}
.dataBarContainer .value{
  position:relative;
  float:right;
  z-index:100;
}
