.tableComponent .numeric{
	text-align: right;
	font-family: monospace;
}

.tableComponent .string{
	text-align: left;
}

.tableComponent .sparkline{
	text-align: center;
}

.cdfClickable{
	cursor: pointer;
}

#GB_window {
    left: 0;
    top: 0;
    font-size: 1px;
    position: absolute;
    overflow: visible;
    z-index: 1500;
}
