    <div class="apidocs">
        <div id="docs-main" class="content">
            <h1>
            Welcome to the CDF API Documentation
            </h1>

            <h2>Some Links to Get Started</h2>


            <ul>

            <li>If you're interested in details about the Dashboard objects, start <a href='modules/Dashboard.html'>in the Dashboard module</a>. From
            there you can jump to the specific classes and their details.</li>

            <li>If you want to go over the methods for the base component classes, start <a href='modules/Components.html'>here</a>.
            This module defines the <a href='classes/BaseComponent.html'>Base component class</a>
            (from where all other components inherit) and the <a href='classes/UnmanagedComponent.html'>Unmanaged component</a>
            (from where most of the default components inherit)</li>

            <li> If you want to know more about the component lifecycle, there's a good write up about the Unmanaged lifecycle
            <a href='classes/UnmanagedComponent.html'>here</a>. For other documentation about the subject, in your Pentaho installation,
            navigate to Plugin Samples -> CDF -> Documentation -> lifecycle and also Plugin Samples -> CDF -> Documentation -> concepts. </li>

            <li>If you want to know about all existing CDF components and their properties, that's also available in your Pentaho installation.
            Navigate to Plugin Samples -> CDF -> Documentation -> Component Reference -> Core Components. There's a sample
            and a property listing for all of them there </li>



            <h2>Keyboard Shortcuts</h2>

            <ul>
                <li><p>Press <kbd>s</kbd> to focus the API search box.</p></li>

                <li><p>Use <kbd>Up</kbd> and <kbd>Down</kbd> to select classes, modules, and search results.</p></li>

                <li class="mac-only"><p>With the API search box or sidebar focused, use <kbd><span class="cmd">&#x2318;</span>-Left</kbd> or <kbd><span class="cmd">&#x2318;</span>-Right</kbd> to switch sidebar tabs.</p></li>

                <li class="pc-only"><p>With the API search box or sidebar focused, use <kbd>Ctrl+Left</kbd> and <kbd>Ctrl+Right</kbd> to switch sidebar tabs.</p></li>
            </ul>
        </div>
    </div>


