.tableComponent th{
	text-align: center;
}

.tableComponent td.numeric{
	text-align: right;
	font-family: monospace;
}

.tableComponent td.string{
	text-align: left;
}

.tableComponent td.sparkline{
	text-align: center;
}

.cdfClickable{
	cursor: pointer;
}

#GB_window {
    left: 0;
    top: 0;
    font-size: 1px;
    position: absolute;
    overflow: visible;
    z-index: 1500;
}

 a.resetFilterButton {
  color: #0000FF;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
