<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Pentaho Community Dashboard Framework" name="pentaho-cdf">

	<lifecycle-listener class="org.pentaho.cdf.CdfLifecycleListener"/>
	<content-types>
                <static-paths>
					<static-path url="/pentaho-cdf/js" localFolder="js"/>
					<static-path url="/pentaho-cdf/resources" localFolder="resources"/>
					<static-path url="/pentaho-cdf/tmp" localFolder="tmp"/>
                </static-paths> 

		<content-type type="xcdf" mime-type="text/html">
        	<title>Dashboard</title>
        	<description>Community Dashboard File</description>
	        <icon-url>content/pentaho-cdf/resources/cdfFileType.png</icon-url>
	        <meta-provider>org.pentaho.cdf.CdfFileInfoGenerator</meta-provider>
    	</content-type>
	</content-types>

  <external-resources>
    <file context="requirejs">content/pentaho-cdf/js/cdf-require-js-cfg.js</file>
  </external-resources>

</plugin>
