<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <!-- set this to true for production, and false for development/localization -->
    <cache-messages>true</cache-messages>
    <!-- how far ahead to set the browser's cache -->
    <max-age>2628001</max-age>
    <cache>true</cache>	
	
        <resources>
            <downloadable-formats>css,js,html,htm,png,jpg,jpeg,gif,swf,otf,woff,ico,zip,xml</downloadable-formats>
        </resources>


    <!--
        hibernate-available: flag indicating if the Hibernate database is available (not available in AGILE-BI and cause issues).
        this flag allows agile-bi to override the default setting of true

        valid values are: true | false
     -->
    <hibernate-available>true</hibernate-available>
    
    
    
</settings>
