@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v4/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('http://themes.googleusercontent.com/static/fonts/opensans/v4/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

/* this makes it possible to add next button beside scrollable */
div.scrollable {
	float:left;		
}

/* prev, next, prevPage and nextPage buttons */
a.prev, a.next, a.prevPage, a.nextPage {
	display:block;
	width:18px;
	height:18px;
	background:url(left.png) no-repeat;
	float:left;
	margin:43px 10px;
	cursor:pointer;
}

/* mouseover state */
a.prev:hover, a.next:hover, a.prevPage:hover, a.nextPage:hover {
	background-position:0px -18px;		
}

/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
}

/* next button uses another background image */
a.next, a.nextPage {
	background-image:url(right.png);
	clear:right;	
}



/*********** navigator ***********/


/* position and dimensions of the navigator */
div.navi {
	margin-left:328px;
	width:200px;
	height:20px;
}


/* items inside navigator */
div.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(GetCDFResource?resource=/public/plugin-samples/pentaho-cdf/40-support/scrollable/navigator.png) 0 0 no-repeat;     
	cursor:pointer;	
}

/* mouseover state */
div.navi a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
div.navi a.active {
	background-position:0 -16px;     
} 	

/* root element for the whole scrollable setup */
div.scrollable {  
	position:relative;
	overflow:hidden;
	width: 648px;	 
	height:300px;	
}

/* 
	root element for scrollable items. It is 
	absolutely positioned with large width. 
*/
#thumbs {	
	position:absolute;
	width:20000em;	
	clear:both;
	border:1px solid #222;
}

/* custom positioning for navigational links */
a.prev, a.next {
	margin-top:118px;	
}



/* single item */
#thumbs div {
	float:left;
	width:214px;
	height:300px;
	background:#333 url(scrollable-gradient.png) repeat-x 0 170px;
	color:#fff;
	border-left:1px solid #333;
	cursor:pointer;
}

/* style when mouse is over the item */
#thumbs div.hover {
	background-color:#444;	
}

/* style when element is active (clicked) */
#thumbs div.active {
	background-color:#066;
	cursor:default;
}

#thumbs h3, #thumbs p, #thumbs span {
	margin: 20px 13px 0px;
	font-size:12px;
	color:#fff;	
	font-family: 'Open Sans', Arial, sans-serif;
}

#thumbs h3 em {
	font-style:normal;
	color:yellow;
}

.templates {
	position: relative;
	top:30px;
}

.header3 {
	margin: 13px;	
	line-height: 30px;
	font-size:12px;
	color:#fff;	
	font-family: 'Open Sans', Arial, sans-serif;
}

.header3 em {
	font-style:normal;
	color:yellow;
}

.contents {
	width: 750px;
}