/*!
 * Copyright 2002 - 2017 Webdetails, a Hitachi Vantara company. All rights reserved.
 *
 * This software was developed by Webdetails and is provided under the terms
 * of the Mozilla Public License, Version 2.0, or any later version. You may not use
 * this file except in compliance with the license. If you need a copy of the license,
 * please go to http://mozilla.org/MPL/2.0/. The Initial Developer is Webdetails.
 *
 * Software distributed under the Mozilla Public License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. Please refer to
 * the license for the specific language governing your rights and limitations.
 */

#GB_window {
  left: 0;
  top: 0;
  font-size: 1px;
  position: absolute;
  overflow: visible;
  z-index: 1500;
}

/*
  [CDE-471] This hack can be removed when jquery.ui in common-ui is updated to 1.11.*
  where the bug causing this issue has been fixed
*/

/* IE9- */
body.draggable-popup-fix {
  position: relative\9;
}

/* IE10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body.draggable-popup-fix {
    position: relative;
  }
}

@-moz-document url-prefix() { /* firefox */
  body.draggable-popup-fix {
    position: relative;
  }
}

/* Overriding the inner .containers that are generated by widgets */
.container .container{
  width: auto;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('lib/fonts/opensans/opensans-regular.eot');
  src: url('lib/fonts/opensans/opensans-regular.eot') format('embedded-opentype'),
  url('lib/fonts/opensans/opensans-regular.woff') format('woff'),
  url('lib/fonts/opensans/opensans-regular.ttf') format('truetype'),
  url('lib/fonts/opensans/opensans-regular.svg#OpenSansRegular') format('svg');
}

