
.caption-top, .caption-bottom {
	color: #000000;	
	padding-left: 1em;	
	padding-top: 0.4em;	
	text-align: right;
	font-weight: bold;
	font-size: 15px;	
	font-family: arial;	
	cursor: default;
	border: 0px solid #334143;
	background: #000000;
	height: 40px;
}

.caption-top {
   border-width: 0px 0px 8px 0px;
}

br.c { clear: both; }

.caption-bottom .options {
text-decoration:none;
font-size: 13px;	
color: #ffffff;
bottom: 4px;
padding-left: 10px;
position:relative;
}

.caption-bottom .title {
text-decoration:none;
font-size: 17px;	
color: #ffffff;
display: inline;
height: 30px;
float:left;
}


