<?js
var data = obj;
var self = this;
?>
<?js if(data.amd != null) { ?>
	<p>
		<strong>AMD Module</strong>
	</p>
	<pre function="syntax.javascript">require(["<?js= data.amd.value ?>"], function(<?js= data.name ?>){ /* code goes here */ });</pre>
<?js } ?>
