<?js
    var data = obj;
    var self = this;
?>

<?js if (data.augments && data.augments.length) { ?>
    <ul><?js data.augments.forEach(function(a) { ?><Z
        <li><?js= self.linkto(a, a) ?></li>
    <?js }) ?></ul>
<?js } ?>
