<?js
    var data = obj;
    var self = this;
?>
<?js if (data.caption) { ?>
	<p class="code-caption"><?js= data.caption ?></p>
<?js } ?>
<pre function="syntax.javascript"><?js= self.htmlsafe(data.code) ?></pre>
