<?js
    var self = this;
    var isGlobalPage;

    docs.forEach(function(doc, i) {
?>

<?js
    // we only need to check this once
    if (typeof isGlobalPage === 'undefined') {
        isGlobalPage = (doc.kind === 'globalobj');
    }
?>
<?js if (doc.kind === 'mainpage' || (doc.kind === 'package')) { ?>
    <?js= self.partial('mainpage.tmpl', doc) ?>
<?js } else if (doc.kind === 'source') { ?>

<?js } else { ?>
    <?js if (!doc.longname || doc.kind !== 'module') { ?>
        <h2><?js if (doc.ancestors && doc.ancestors.length) { ?>
            <span class="ancestors">
                <?js=doc.ancestors.join('')?>
            </span>
        <?js } ?>
        
        <span><?js= doc.parsedName ?></span>
        <?js if (doc.variation) { ?>
            <sup class="variation"><?js= doc.variation ?></sup>
        <?js } ?></h2>

        <?js if(doc.static) { ?>
            <?js= self.partial('modifiers.tmpl', doc) ?> 
        <?js } ?>
        <?js= (typeof doc.classdesc === "string"
            ? doc.classdesc.replace(/(\{@link [^}]+)&quot;([^\}]+)&quot;([^\}]*\})/g, "$1\"$2\"$3")
            : doc.classdesc) ?>
        
    <?js } ?>

    <?js= self.partial('amd.tmpl', doc) ?>

    <?js if (doc.kind === 'class' && !doc.static) { ?>
        <?js if (doc.see && doc.see.length) { ?>
        <p>
            <strong>See also:&nbsp;</strong>
            <?js doc.see.forEach(function(s, i) { ?>
                <?js= self.linkto(s) ?>
                <?js if(i < doc.see.length-1) { ?>
                    <?js= ", " ?>
                <?js } ?>
            <?js }) ?>
        </p>
        <?js } ?>

        <?js if(doc.augments && doc.augments.length) { ?>
            <p class="h3">Extends</p>
            <?js= self.partial('augments.tmpl', doc) ?>
        <?js } ?>

        <h3>Constructor</h3>
        <?js= self.partial('methods-summary.tmpl', [doc]) ?>                  
    <?js } else { ?>
        <?js if (doc.description) { ?>
            <div class="description"><?js= doc.description ?></div>
        <?js } ?>

        <?js if (doc.see && doc.see.length) {?>
        <p>
            <strong>See also:&nbsp;</strong>
            <?js doc.see.forEach(function(s, i) { ?>
                <?js= self.linkto(s) ?>
                <?js if(i < doc.see.length-1) { ?>
                    <?js= ", " ?>
                <?js } ?>
            <?js }) ?>
        </p>
        <?js } ?>

        <?js= self.partial('details.tmpl', doc) ?>
        
        <?js if (doc.examples && doc.examples.length) { ?>
            <h3>Example<?js= doc.examples.length > 1? 's':'' ?></h3>
            <?js= self.partial('examples.tmpl', doc.examples) ?>
        <?js } ?>
    <?js } ?>

    <?js if (doc.requires && doc.requires.length) { ?>
        <h3 class="subsection-title">Requires</h3>

        <ul><?js doc.requires.forEach(function(r) { ?>
            <li><?js= self.linkto(r, r) ?></li>
        <?js }); ?></ul>
    <?js } ?>

    <!-- Namespace Summary Start-->

    <?js var namespaces = self.find({kind: 'namespace', memberof: doc.longname});
    if (!isGlobalPage && namespaces && namespaces.length) { ?>
        <h3>Child Namespaces</h3>
        <?js= self.partial('summary.tmpl', namespaces) ?>
    <?js } ?>

    <?js 
      var classes = self.find({kind: 'class', memberof: doc.longname});
      if (!isGlobalPage && classes && classes.length) {
    ?>
        <h3>Classes</h3>
        <?js= self.partial('summary.tmpl', classes) ?>
    <?js } ?>

    <?js 
      var events = self.find({kind: 'event', memberof: doc.longname, scope: "static"});
      if (!isGlobalPage && events && events.length) {
    ?>
        <h3>Events</h3>
        <?js= self.partial('summary.tmpl', events) ?>
    <?js } ?>

    <?js 
      var events = self.find({kind: 'interface', memberof: doc.longname});
      if (!isGlobalPage && events && events.length) {
    ?>
        <h3>Interfaces</h3>
        <?js= self.partial('summary.tmpl', events) ?>
    <?js } ?>

    <?js var mixins = self.find({kind: 'mixin', memberof: doc.longname});
    if (!isGlobalPage && mixins && mixins.length) { ?>
        <h3>Mixins</h3>

        <dl><?js mixins.forEach(function(m) { ?>
            <dt><?js= self.linkto(m.longname, m.name) ?></dt>
        <?js }); ?></dl>
    <?js } ?>

    <!-- Namespace Summary End -->

    <!-- Class Summary Start -->

    <!-- Members composition -->
    <?js var members = [] ?>

    <?js members = members.concat( self.find({
        kind: 'member', 
        memberof: isGlobalPage ? {isUndefined: true} : doc.longname
    }) ) ?>

    <!-- Methods composition -->
    <?js var methods = self.find({kind: 'function', memberof: isGlobalPage ? {isUndefined: true} : doc.longname}); ?>

    <?js if (members && members.length) { ?>
        <h3>Members</h3>
        <?js= self.partial('members-summary.tmpl', members) ?>
    <?js } ?>

    <?js if (methods && methods.length) { ?>
        <h3>Methods</h3>
        <?js= self.partial('methods-summary.tmpl', methods) ?>
    <?js } ?>

    <?js var events = self.find({kind: 'event', memberof: doc.longname, scope: "instance"}); 
        if (!isGlobalPage && events && events.length) { ?>
        <h3>Events</h3>
        <?js= self.partial('events-summary.tmpl', events) ?>
    <?js } ?>

    <!-- Class Summary End -->

    <!-- Details Start -->

    <?js if (doc.kind === 'class' && !doc.static) { ?>
        <p class="h3">Constructor Details</p>
        <?js= self.partial('method-details.tmpl', doc) ?>
    <?js } ?>

    <?js if (members && members.length) { ?>
        <p class="h3">Members Details</p>
        <?js members.forEach(function(p) { ?>
            <?js= self.partial('member-details.tmpl', p) ?>
        <?js }); ?>
    <?js } ?>

    <?js if (methods && methods.length) { ?>
        <p class="h3">Methods Details</p>
        <?js methods.forEach(function(m) { ?>
            <?js= self.partial('method-details.tmpl', m) ?>
        <?js }); ?>
    <?js } ?>

    <?js var events = self.find({kind: 'event', memberof: doc.longname});
    if (events && events.length) { ?>
        <p class="h3">Events Details</p>
        <?js events.forEach(function(e) { ?>
            <?js= self.partial('method-details.tmpl', e) ?>
        <?js }); ?>
    <?js } ?>

    <?js var typedefs = self.find({kind: 'typedef', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
    if (typedefs && typedefs.length) { ?>
        <h3>Type Definitions</h3>

        <?js typedefs.forEach(function(e) {
            if (e.signature) { ?>
                <?js= self.partial('method-details.tmpl', e) ?>
            <?js } else { ?>
                <?js= self.partial('member-details.tmpl', e) ?>
            <?js }
        }); ?>
    <?js } ?>

    <!-- Details End -->

<?js } ?>

<?js }); ?>
