<?js
var data = obj;
var self = this;
var defaultObjectClass = '';

// Check if the default value is an object or array; if so, apply code highlighting
if (data.defaultvalue && (data.defaultvaluetype === 'object' || data.defaultvaluetype === 'array')) {
    data.defaultvalue = "<pre class=\"prettyprint\"><code>" + data.defaultvalue + "</code></pre>";
    defaultObjectClass = ' class="object-value"';
}
?>
<?js
    var properties = data.properties;
    if (properties && properties.length && properties.forEach) {
?>  

    <?js= this.partial('properties.tmpl', data) ?>

<?js } ?>

<?js if (data.meta) {?>
<p><strong>Source: </strong> <?js= self.linkto(meta.sourceLink) ?></p>
<?js } ?>

<?js if (data.inherited && data.inherits && !data.overrides) { ?>
    <p><strong>Inherited From:</strong> <?js= this.linkto(data.inherits, this.htmlsafe(data.inherits).split('"').join('')) ?></p>
<?js } ?>

<?js if (data.defaultvalue || data.defaultvalue == false) {?>
    <p><strong>Default Value: </strong><?js= data.defaultvalue ?></p>
<?js } ?>

<?js if (data.version) {?>
<dt class="tag-version">Version:</dt>
<dd class="tag-version"><ul class="dummy"><li><?js= version ?></li></ul></dd>
<?js } ?>

<?js if (data.since) {?>
<dt class="tag-since">Since:</dt>
<dd class="tag-since"><ul class="dummy"><li><?js= since ?></li></ul></dd>
<?js } ?>

<?js if (data.overrides) { ?>
    <p><strong>Overrides: </strong><?js= this.linkto(data.overrides, this.htmlsafe(data.overrides)) ?></p>
<?js } ?>

<?js if (data.implementations && data.implementations.length) { ?>
<dt class="implementations">Implementations:</dt>
<dd class="implementations"><ul>
    <?js data.implementations.forEach(function(impl) { ?>
        <li><?js= self.linkto(impl, self.htmlsafe(impl)) ?></li>
    <?js }); ?>
</ul></dd>
<?js } ?>

<?js if (data.implements && data.implements.length) { ?>
<dt class="implements">Implements:</dt>
<dd class="implements"><ul>
    <?js data.implements.forEach(function(impl) { ?>
        <li><?js= self.linkto(impl, self.htmlsafe(impl)) ?></li>
    <?js }); ?>
</ul></dd>
<?js } ?>

<?js if (data.mixes && data.mixes.length) { ?>
    <dt class="mixes">Mixes In:</dt>

    <dd class="mixes"><ul>
    <?js data.mixes.forEach(function(a) { ?>
        <li><?js= self.linkto(a, a) ?></li>
    <?js }); ?>
    </ul></dd>
<?js } ?>

<?js if (data.author && author.length) {?>
<dt class="tag-author">Author:</dt>
<dd class="tag-author">
    <ul><?js author.forEach(function(a) { ?>
        <li><?js= self.resolveAuthorLinks(a) ?></li>
    <?js }); ?></ul>
</dd>
<?js } ?>

<?js if (data.copyright) {?>
<dt class="tag-copyright">Copyright:</dt>
<dd class="tag-copyright"><ul class="dummy"><li><?js= copyright ?></li></ul></dd>
<?js } ?>

<?js if (data.license) {?>
<dt class="tag-license">License:</dt>
<dd class="tag-license"><ul class="dummy"><li><?js= license ?></li></ul></dd>
<?js } ?>



<?js if (data.tutorials && tutorials.length) {?>
<dt class="tag-tutorial">Tutorials:</dt>
<dd class="tag-tutorial">
    <ul><?js tutorials.forEach(function(t) { ?>
        <li><?js= self.tutoriallink(t) ?></li>
    <?js }); ?></ul>
</dd>
<?js } ?>



<?js if (data.todo && todo.length) {?>
<dt class="tag-todo">To Do:</dt>
<dd class="tag-todo">
    <ul><?js todo.forEach(function(t) { ?>
        <li><?js= t ?></li>
    <?js }); ?></ul>
</dd>
<?js } ?>
