<?js
var events = obj;
var self = this;
?>

<table class="api-ref-table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
    </tr>
    </thead>

    <tbody>
<?js
    var self = this;
    if(events) {
        events.forEach(function(event) {
            if(!event) { return; }
            var name = "event:" + encodeURI(event.name);
            var params = [];
            var duplicate;
            if(event.params && event.params.length) {
                event.signature = "("
                event.params.forEach(function(p, i) {
                    duplicate = false;
                    for(var i = 0; i < params.length; i++) {
                        if(p.name.indexOf(params[i]) > -1) {
                            duplicate = true;
                        }
                    }
                    if(!duplicate) {
                        if(params.length > 0) {
                            event.signature += ", " + p.name;
                        } else {
                            event.signature += p.name;
                        }
                        params.push(p.name);
                    }
                });
                event.signature += ")";
            } else {
                event.signature = "";
            } ?>
    <tr>
        <td>
            <a href='#<?js= name ?>'> <?js= event.parsedName.replace(/(parameterName|parameter):fireChange/, "<em>$1</em>:fireChange") + event.signature ?> </a>
            <?js if (event.returns && event.returns.length) { ?>
            <?js event.returns.forEach(function(r, i) { ?>
            <?js= self.partial('type.tmpl', r.type.names) ?>
            <?js if (i < event.returns.length-1) { ?>|<?js } ?>
            <?js });
                  } ?>
            <?js= self.partial('modifiers.tmpl', event) ?>
        </td>
        <td> <?js= event.summary ?> </td>
    </tr>
<?js
        });
    }
?>
    </tbody>
</table>

