<?js
    var data = obj;
?>
<tr>
    <td>
        <?js if (data.type && data.type.names) {?>
            <?js= this.partial('type.tmpl', data.type.names) ?>
        <?js } ?>
    </td>
    <td>
        <?js if (data.description) { ?>
            <?js 
                var description = data.description; 
                var regex = /array.<(.*)>/; 
                if(m = regex.exec(description)) {
                    description = m[1];
                }
            ?>
            <?js= description ?>
        <?js } ?>
    </td>
</tr>