<?js
var members = obj;
var self = this;
?>

<table class="api-ref-table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>

    <tbody>
        <?js
        var self = this;
        members.forEach(function(member) {
            if(!member) { return; }
            ?>
            <tr class="<?js= member.access != null ? member.access : 'public' ?> <?js= member.deprecated ? 'deprecated' : '' ?> <?js= member.inherited ? 'inherited' : '' ?>">
                <td> 
                    <a href="#<?js= (member.scope === "static" ? "." + member.parsedName : member.parsedName) ?>"> 
                        <?js= member.parsedName ?> 
                    </a>
                    <?js if(member.type) { ?>
                        : <code> <?js= self.partial('type.tmpl', member.type.names) ?> </code>
                    <?js } ?>    
                    <?js= self.partial('modifiers.tmpl', member) ?>  
                </td>
                <td> <?js= member.summary ?> </td>
            </tr>

            <?js }); ?>
        </tbody>
</table>

