<?js
var data = obj;
var self = this;
var name = (data.scope === "static" ? "." : "") + (data.kind === "event" ? "event:" : "") + encodeURI(data.name);
?>

<table id="<?js= name ?>">
    <thead>
        <tr>
            <th><strong><?js= (data.kind == "class"
                                 ? "new " + data.parsedName
                                 : (data.kind == "event"
                                     ? data.parsedName.replace(/(parameterName|parameter):fireChange/, "<em>$1</em>:fireChange")
                                     : data.parsedName)) ?></strong><?js= (data.signature || '') ?>
                <?js if (data.returns && data.returns.length) {
                    ?>:<?js
                    data.returns.forEach(function(r, i) { ?>
                        <?js= self.partial('type.tmpl', r.type.names) ?>
                        <?js if (i < data.returns.length-1) {
                            ?>|<?js
                        }
                    });
                } ?>
                <?js= self.partial('modifiers.tmpl', data) ?>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <?js= (typeof data.description === "string") ? data.description.replace(/(\{@link [^}]+)&quot;([^\}]+)&quot;([^\}]*\})/g, "$1\"$2\"$3") : data.description ?>

                <?js= this.partial('details.tmpl', data) ?>

                <?js if (data.params && params.length) { ?>
                    <?js= this.partial('params.tmpl', params) ?>
                <?js } ?>

                <?js if (data.fires && fires.length) { ?>
                    <p><strong>Fires:</strong>
                    <?js fires.forEach(function(f,i) { ?>
                        <?js= decodeURI(self.linkto(f, f.split('"').join(''))) ?>
                        <?js if (i < fires.length-1) { ?>, <?js } ?>
                    <?js }); ?>
                    </p>
                <?js } ?>

                <?js if (data.listens && listens.length) { ?>
                    <p><strong>Listens to Events:</strong>
                    <?js listens.forEach(function(f) { ?>
                        <?js= self.linkto(f, f.split('"').join('')) ?>
                        <?js if (i < listens.length-1) { ?>, <?js } ?>
                    <?js }); ?>
                    </p>
                <?js } ?>

                <?js if (data.listeners && listeners.length) { ?>
                    <p><strong>Listeners of This Event:</strong>
                    <?js listeners.forEach(function(f) { ?>
                        <?js= self.linkto(f, f.split('"').join('')) ?>
                        <?js if (i < listeners.length-1) { ?>, <?js } ?>
                    <?js }); ?>
                    </p>
                <?js } ?>

                <?js if (data.returns && data.returns.length) { ?>
                    <table class="inner-table">
                        <caption>Returns:</caption>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?js data.returns.forEach(function(r) { ?>
                                <?js= self.partial('returns.tmpl', r) ?>
                            <?js }); ?>
                        </tbody>
                    </table>
                <?js } ?>

                <?js if (data.exceptions && data.exceptions.length) { ?>
                    <table class="inner-table">
                        <caption>Throws:</caption>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?js data.exceptions.forEach(function(r) { ?>
                                <?js= self.partial('exceptions.tmpl', r) ?>
                            <?js }); ?>
                        </tbody>
                    </table>
                <?js } ?>

                <?js if (data.see && see.length) {?>
                <p>
                    <strong>See also:&nbsp;</strong>
                    <?js see.forEach(function(s, i) { ?>
                        <?js= self.linkto(s) ?>
                        <?js if(i < see.length-1) { ?>
                            <?js= ", " ?>
                        <?js } ?>
                    <?js }) ?>
                </p>
                <?js } ?>

                <?js if (data.examples && examples.length) { ?>
                    <p><strong>Example<?js= examples.length > 1? 's':'' ?></strong></p>
                    <?js= this.partial('examples.tmpl', examples) ?>
                <?js } ?>
            </td>
        </tr>
    </tbody>
</table>

