<?js
var data = obj;

function isPrivate(){ return data.access == "private"; }
function isProtected(){ return data.access == "protected"; }
function isDeprecated(){ return data.deprecated; }
function isConstant(){ return data.constant; }
function isAbstract(){ return data.virtual; }
function isStatic(){ return data.scopeEf == "static" || data.static; }
?>

<div>
  <?js if( isDeprecated() ){ ?>
    <?js= this.partial('modifier.tmpl', { "class": "red", "modifier": "Deprecated" }) ?>
  <?js } ?>  
  <?js if( isPrivate() ){ ?>
    <?js= this.partial('modifier.tmpl', { class: "red", modifier: "Private" }) ?>
  <?js } ?> 
  <?js if( isStatic() ){ ?>
    <?js= this.partial('modifier.tmpl', { class: "green", modifier: "Static" }) ?>
  <?js } ?> 
  <?js if( isConstant() ){ ?>
    <?js= this.partial('modifier.tmpl', { class: "black", modifier: "Constant" }) ?>
  <?js } ?> 
  <?js if( isAbstract() ){ ?>
    <?js= this.partial('modifier.tmpl', { class: "black", modifier: "Abstract" }) ?>  
  <?js } ?>   
  <?js if( isProtected() ){ ?>
    <?js= this.partial('modifier.tmpl', { class: "orange", modifier: "Protected" }) ?>  
  <?js } ?>   
</div>
