<?js
  var data = obj;
  var self = this;
  if(data) {
    var dataSize = data.length;
    data.forEach(function(name, index) {
      ?><?js= self._typeBuilder(name, index, dataSize) ?><?js
    });
  }
?>
